<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/home.css')}}">
<style>
ul#menu li {
    display:inline;
}
</style>
</head>
<body>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="collapsibleNavbar">
<ul class="navbar-nav">

       <li class="nav-item">
       <a href="addissue">Add Issue</a>
       </li>
       <li class="nav-item">
       <a href="allissues">All Issues</a>
       </li>
       <li class="nav-item">
       <a href="adddoctor">Add Doctor</a>
       </li>
       <li class="nav-item">
       <a href="alldoctors">All Doctors</a>
       </li>


     </ul>
   </div>
 </nav>
 <br>
 <h2>All Issues</h2>
<table class="table table-striped table-light table-hover">
 <tr>

   <th>Issue</th>
   <th>Description of Solution</th>

</tr>
{%for allissues in theIssues%}
<tr>
   <td>{{allissues.issue}}</td>
   <td>{{allissues.solution}}</td>

</tr>
{%endfor%}
</body>
</html>
